<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/home.html}">
<head>
<style>
</style>
</head>
<body>
	<div class="body-root-inner" layout:fragment="content">
		<div class="transection">
			<div class="title-right-actioin-btn-wrapper-product-list">
				<h3 class="title">User Manage</h3>
				<div class="button-wrapper">
					<div class="single-select">
						<div class="nice-select" tabindex="0">
							<span class="current">Export</span>
							<ul class="list">
								<li data-value="Default Sorting" data-display="Export"
									class="option selected">Export</li>
								<li data-value="1" class="option">CSV</li>
								<li data-value="2" class="option">PDF</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="vendor-list-main-wrapper product-wrapper">
				<div class="card-body table-product-select">
					<div class="table-responsive">
						<table class="table table-hover display" id="example"
							cellspacing="0" width="100%">
							<thead class="mb--20">
								<tr>
									<th>ID</th>
									<th>Tên</th>
									<th>Email</th>
									<th>Vai trò</th>
									<th>Hành động</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user : ${users}">
									<td width="10%">
										<div class="name">
											<p th:text="${user.id}"></p>
										</div>
									</td>

									<td>
										<div class="name" style="color: black; font-weight: bold">
											<p th:text="${user.name}"></p>
										</div>
									</td>
									<td>
										<div class="name">
											<p th:text="${user.email}"></p>
										</div>
									</td>
									<td>
										<div class="name">
											<p th:text="${user.roles}"></p>
										</div>
									</td>
									<td class="text-end">
										<div class="between-stock-table action">
											<!-- Nút Edit -->
											<button type="button" th:onclick="|showEditForm(${user.id})|">
												Edit</button>
										</div>
									</td>

								</tr>

							</tbody>
						</table>
						<!-- table-responsive.// -->
						<!-- Form Edit (ẩn ban đầu) -->
						<div id="edit-form-overlay" class="overlay">
							<div class="overlay-content">
								<h3>Edit User</h3>
								<form id="edit-form" th:action="@{/admin/user-list/edit}"
									method="post">
									<input type="hidden" name="id" id="edit-user-id" /> <input
										type="hidden" name="password" id="edit-user-password"
										style="border: 2px solid #ddd;" /> <label for="name">Name:</label>
									<input type="text" name="name" id="edit-user-name" required
										style="border: 2px solid #ddd;" /> <br>
									<br> <label for="email">Email:</label> <input type="email"
										name="email" id="edit-user-email" required
										style="border: 2px solid #ddd;" /> <br>
									<br> <label for="roles">Roles:</label> <input type="text"
										name="roles" id="edit-user-roles" required
										style="border: 2px solid #ddd;" /> <br>
									<br> <label for="enabled">Enabled:</label>
									<div></div>
									<input type="radio" name="enabled" id="enabled-true"
										value="true" required /> <label for="enabled-true">Yes</label>
									<input type="radio" name="enabled" id="enabled-false"
										value="false" required /> <label for="enabled-false">No</label>
									<br>
									<br>
									<div class="button-group">
										<button type="submit" class="btn-save">Save</button>
										<button type="button" class="btn-cancel"
											onclick="closeEditForm()">Cancel</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- bottom footer areas start -->
		<div class="footer-copyright">
			<div class="left">
				<p>Copyright © 2024 All Right Reserved.</p>
			</div>
			<ul>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Privacy</a></li>
				<li><a href="#">Help</a></li>
			</ul>
		</div>
	</div>
</body>

</html>
<!-- /main-content-wrap -->
