<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div class="rts-footer-area-two " th:fragment="footer">
    <div class="container-2">
        <div class="row">
            <div class="coll-lg-12">
                <div class="footer-two-main-wrapper">
                    <div class="footer-single-wixed-two start">
                        <a th:href="@{#}" class="logo-area">
                            <img src="/view/images/logo/logo-02.svg" alt="logo-area" class="logo">
                        </a>
                        <p class="disc">
                            What’s inside: New Arrivals, Exclusive Sales,
                            News & Mores
                        </p>
                        <form action="#">
                            <input type="email" placeholder="Email Address" required>
                            <button class="rts-btn btn-primary"><i class="fa-light fa-arrow-right"></i></button>
                        </form>
                        <div class="social-style-dash">
                            <ul>
                                <li><a th:href="@{#}"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a th:href="@{#}"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a th:href="@{#}"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a th:href="@{#}"><i class="fa-brands fa-youtube"></i></a></li>
                                <li><a th:href="@{#}"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-footer-wized mid">
                        <h3 class="footer-title">Our Stores</h3>
                        <div class="footer-nav">
                            <ul>
                                <li><a th:href="@{#}">Delivery Information</a></li>
                                <li><a th:href="@{#}">Privacy Policy</a></li>
                                <li><a th:href="@{#}">Terms &amp; Conditions</a></li>
                                <li><a th:href="@{#}">Support Center</a></li>
                                <li><a th:href="@{#}">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-footer-wized mid">
                        <h3 class="footer-title">Shop Categories</h3>
                        <div class="footer-nav">
                            <ul>
                                <li><a th:href="@{#}">Contact Us</a></li>
                                <li><a th:href="@{#}">Information</a></li>
                                <li><a th:href="@{#}">About Us</a></li>
                                <li><a th:href="@{#}">Careers</a></li>
                                <li><a th:href="@{#}">Nest Stories</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-footer-wized">
                        <h3 class="footer-title">Need Help? / Contact Us</h3>
                        <div class="contact-information">
                            <!-- single contact information -->
                            <div class="single-contact-information-area">
                                <div class="icon-area">
                                    <img src="/view/images/icons/11.svg" alt="icons">
                                </div>
                                <div class="information-area">
                                    <p class="disc">
                                        258 Daniel Street, 2589 Phones Line <br>
                                        Berlin, Germany
                                    </p>
                                </div>
                            </div>
                            <!-- single contact information emd -->
                            <!-- single contact information -->
                            <div class="single-contact-information-area">
                                <div class="icon-area">
                                    <img src="/view/images/icons/12.svg" alt="icons">
                                </div>
                                <div class="information-area">
                                    <p class="disc">
                                        Call us between 8:00 AM - 12PM <br>
                                        <a th:href="@{#}">+25896 3158 3228</a>
                                    </p>
                                </div>
                            </div>
                            <!-- single contact information emd -->
                            <!-- single contact information -->
                            <div class="single-contact-information-area">
                                <div class="icon-area">
                                    <img src="/view/images/icons/13.svg" alt="icons">
                                </div>
                                <div class="information-area">
                                    <p class="disc">
                                        Live Chat <br>
                                        <span>Chat With an Experts</span>
                                    </p>
                                </div>
                            </div>
                            <!-- single contact information emd -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts footer area end -->

<!-- rts copyright area start -->
<div class="rts-copyright-area-two">
    <div class="container-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright-arae-two-wrapper">
                    <p class="disc">
                        Copyright 2024 <a th:href="@{#}">©Ekomart</a>. All rights reserved.
                    </p>
                    <div class="payment-processw-area">
                        <span>Payment Accepts:</span>
                        <img src="/view//images/payment/04.png" alt="payment">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- rts copyright area end -->

<!-- modal -->
<div id="myModal-1" class="modal fade" role="dialog">
    <div class="modal-dialog bg_image">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-bs-dismiss="modal"><i class="fa-light fa-x"></i></button>
            </div>
            <div class="modal-body text-center">
                <div class="inner-content">
                    <div class="content">
                        <span class="pre-title">Get up to 30% off on your first $150 purchase</span>
                        <h1 class="title">Feed Your Family at the  <br>
                            Best Price</h1>
                        <p class="disc">
                            We have prepared special discounts for you on grocery products. Don't <br> miss these opportunities...
                        </p>
                        <div class="rts-btn-banner-area">
                            <a th:href="@{#}" class="rts-btn btn-primary radious-sm with-icon">
                                <div class="btn-text">
                                    Shop Now
                                </div>
                                <div class="arrow-icon">
                                    <i class="fa-light fa-arrow-right"></i>
                                </div>
                                <div class="arrow-icon">
                                    <i class="fa-light fa-arrow-right"></i>
                                </div>
                            </a>
                            <div class="price-area">
                                <span>
                                    from
                                </span>
                                <h3 class="title animated fadeIn">$80.99</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="product-details-popup-wrapper">
<div class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
    <div class="product-details-popup">
        <button class="product-details-close-btn"><i class="fal fa-times"></i></button>
        <div class="details-product-area">
            <div class="product-thumb-area">
                <div class="cursor"></div>
                <div class="thumb-wrapper one filterd-items figure">
                    <div class="product-thumb zoom" onmousemove="zoom(event)"
                        style="background-image: url(/view//images/products/product-details.jpg)"><img
                            src="/view//images/products/product-details.jpg" alt="product-thumb">
                    </div>
                </div>
                <div class="thumb-wrapper two filterd-items hide">
                    <div class="product-thumb zoom" onmousemove="zoom(event)"
                        style="background-image: url(/view//images/products/product-filt2.jpg)"><img
                            src="/view//images/products/product-filt2.jpg" alt="product-thumb">
                    </div>
                </div>
                <div class="thumb-wrapper three filterd-items hide">
                    <div class="product-thumb zoom" onmousemove="zoom(event)"
                        style="background-image: url(/view//images/products/product-filt3.jpg)"><img
                            src="/view//images/products/product-filt3.jpg" alt="product-thumb">
                    </div>
                </div>
                <div class="product-thumb-filter-group">
                    <div class="thumb-filter filter-btn active" data-show=".one"><img
                            src="/view//images/products/product-filt1.jpg" alt="product-thumb-filter"></div>
                    <div class="thumb-filter filter-btn" data-show=".two"><img
                            src="/view//images/products/product-filt2.jpg" alt="product-thumb-filter"></div>
                    <div class="thumb-filter filter-btn" data-show=".three"><img
                            src="/view//images/products/product-filt3.jpg" alt="product-thumb-filter"></div>
                </div>
            </div>
            <div class="contents">
                <div class="product-status">
                    <span class="product-catagory">Dress</span>
                    <div class="rating-stars-group">
                        <div class="rating-star"><i class="fas fa-star"></i></div>
                        <div class="rating-star"><i class="fas fa-star"></i></div>
                        <div class="rating-star"><i class="fas fa-star-half-alt"></i></div>
                        <span>10 Reviews</span>
                    </div>
                </div>
                <h2 class="product-title">Wide Cotton Tunic Dress <span class="stock">In Stock</span></h2>
                <span class="product-price"><span class="old-price">$9.35</span> $7.25</span>
                <p>
                    Priyoshop has brought to you the Hijab 3 Pieces Combo Pack PS23. It is a
                    completely modern design and you feel comfortable to put on this hijab.
                    Buy it at the best price.
                </p>
                <div class="product-bottom-action">
                    <div class="cart-edit">
                        <div class="quantity-edit action-item">
                            <button class="button"><i class="fal fa-minus minus"></i></button>
                            <input type="text" class="input" value="01" />
                            <button class="button plus">+<i class="fal fa-plus plus"></i></button>
                        </div>
                    </div>
                    <a th:href="@{#}" class="rts-btn btn-primary radious-sm with-icon">
                        <div class="btn-text">
                            Add To Cart
                        </div>
                        <div class="arrow-icon">
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                        <div class="arrow-icon">
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </a>
                    <a th:href="@{javascript:void(0);}" class="rts-btn btn-primary ml--20"><i class="fa-light fa-heart"></i></a>
                </div>
                <div class="product-uniques">
                    <span class="sku product-unipue"><span>SKU: </span> BO1D0MX8SJ</span>
                    <span class="catagorys product-unipue"><span>Categories: </span> T-Shirts, Tops, Mens</span>
                    <span class="tags product-unipue"><span>Tags: </span> fashion, t-shirts, Men</span>
                </div>
                <div class="share-social">
                    <span>Share:</span>
                    <a class="platform" th:href="@{http://facebook.com/}" target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="platform" th:href="@{http://twitter.com/}" target="_blank"><i
                            class="fab fa-twitter"></i></a>
                    <a class="platform" th:href="@{http://behance.com/}" target="_blank"><i
                            class="fab fa-behance"></i></a>
                    <a class="platform" th:href="@{http://youtube.com/}" target="_blank"><i
                            class="fab fa-youtube"></i></a>
                    <a class="platform" th:href="@{http://linkedin.com/}" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- successfully add in wishlist -->
<div class="successfully-addedin-wishlist">
<div class="d-flex" style="align-items: center; gap: 15px;">
    <i class="fa-regular fa-check"></i>
    <p>Your item has already added in wishlist successfully</p>
</div>
</div>
<!-- successfully add in wishlist end -->



<!-- Modal -->
<div class="modal modal-compare-area-start fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Products Compare</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="compare-main-wrapper-body">
            <div class="single-compare-elements name">Preview</div>
            <div class="single-compare-elements">
                <div class="thumbnail-preview">
                    <img src="/view//images/grocery/01.jpg" alt="grocery">
                </div>
            </div>
            <div class="single-compare-elements">
                <div class="thumbnail-preview">
                    <img src="/view//images/grocery/02.jpg" alt="grocery">
                </div>
            </div>
            <div class="single-compare-elements">
                <div class="thumbnail-preview">
                    <img src="/view//images/grocery/03.jpg" alt="grocery">
                </div>
            </div>
        </div>
        <div class="compare-main-wrapper-body productname spacifiq">
            <div class="single-compare-elements name">Name</div>
            <div class="single-compare-elements">
                <p>J.Crew Mercantile Women's Short</p>
            </div>
            <div class="single-compare-elements">
                <p>Amazon Essentials Women's Tanks</p>
            </div>
            <div class="single-compare-elements">
                <p>Amazon Brand - Daily Ritual Wom</p>
            </div>
        </div>
        <div class="compare-main-wrapper-body productname">
            <div class="single-compare-elements name">Price</div>
            <div class="single-compare-elements price">
                <p>$25.00</p>
            </div>
            <div class="single-compare-elements price">
                <p>$39.25</p>
            </div>
            <div class="single-compare-elements price">
                <p>$12.00</p>
            </div>
        </div>
        <div class="compare-main-wrapper-body productname">
            <div class="single-compare-elements name">Description</div>
            <div class="single-compare-elements discription">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
            </div>
            <div class="single-compare-elements discription">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
            </div>
            <div class="single-compare-elements discription">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
            </div>
        </div>
        <div class="compare-main-wrapper-body productname">
            <div class="single-compare-elements name">Rating</div>
            <div class="single-compare-elements">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(25)</span>
                </div>
            </div>
            <div class="single-compare-elements">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(19)</span>
                </div>
            </div>
            <div class="single-compare-elements">
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <span>(120)</span>
                </div>
            </div>
        </div>
        <div class="compare-main-wrapper-body productname">
            <div class="single-compare-elements name">Weight</div>
            <div class="single-compare-elements">
                <div class="rating">
                    <p>320 gram</p>
                </div>
            </div>
            <div class="single-compare-elements">
                <p>370 gram</p>
            </div>
            <div class="single-compare-elements">
                <p>380 gram</p>
            </div>
        </div>
        <div class="compare-main-wrapper-body productname">
            <div class="single-compare-elements name">Stock status</div>
            <div class="single-compare-elements">
                <div class="instocks">
                    <span>In Stock</span>
                </div>
            </div>
            <div class="single-compare-elements">
                <div class="outstocks">
                    <span class="out-stock">Out Of Stock</span>
                </div>
            </div>
            <div class="single-compare-elements">
                <div class="instocks">
                    <span>In Stock</span>
                </div>
            </div>
        </div>
        <div class="compare-main-wrapper-body productname">
            <div class="single-compare-elements name">Buy Now</div>
            <div class="single-compare-elements">
                <div class="cart-counter-action">
                    <a th:href="@{#}" class="rts-btn btn-primary radious-sm with-icon">
                        <div class="btn-text">
                            Add To Cart
                        </div>
                        <div class="arrow-icon">
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                        <div class="arrow-icon">
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="single-compare-elements">
                <div class="cart-counter-action">
                    <a th:href="@{#}" class="rts-btn btn-primary radious-sm with-icon">
                        <div class="btn-text">
                            Add To Cart
                        </div>
                        <div class="arrow-icon">
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                        <div class="arrow-icon">
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="single-compare-elements">
                <div class="cart-counter-action">
                    <a th:href="@{#}" class="rts-btn btn-primary radious-sm with-icon">
                        <div class="btn-text">
                            Add To Cart
                        </div>
                        <div class="arrow-icon">
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                        <div class="arrow-icon">
                            <i class="fa-regular fa-cart-shopping"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
</div>

<div class="search-input-area">
    <div class="container">
        <div class="search-input-inner">
            <div class="input-div">
                <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                <button><i class="far fa-search"></i></button>
            </div>
        </div>
    </div>
    <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
</div>
<div id="anywhere-home" class="anywere"></div>
<!-- progress area start -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
    </svg>
</div>
