<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="header-style-two bg-primary-header" th:fragment="headerGuest">
		<div class="header-top-area-two">
		<div class="container-2">
			<div class="row">
				<div class="col-lg-12">
					<div class="hader-top-between-two">
						<p>Welcome to our Organic store EkoMart!</p>
						<ul class="nav-header-top">
							<li>Track Order</a></li>
							<li>About Us</a></li>
							<li>Contact</a></li>
							<li>FAQ</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="search-header-area-main">
		<div class="container-2">
			<div class="row">
				<div class="col-lg-12">
					<div class="logo-search-category-wrapper">
						<a class="logo-area" th:href="@{/home}"> 
						<img src="/view/images/logo/logo-02.svg"
							alt="logo-main" class="logo">
						</a>
						<div class="category-search-wrapper">
							<div class="category-btn category-hover-header">
								<img class="parent" src="/view/images/icons/bar-1.svg"
									alt="icons"> <span>Categories</span>
								<ul class="category-sub-menu" id="category-active-four">
								<li th:each="cate : ${session.cate}">
                                     <a th:href="@{/home/product(value=${cate.categoryName})}" class="menu-item">
                                         <img th:src="@{'/home/product-detail/images/' + ${cate.image}}" alt="icons">
                                         <span th:text="${cate.categoryName}"></span>
                                     </a>
                                 </li>
								</ul>
							</div>
							<form th:action="@{/home/product}" method="get" class="search-header">
								<input type="text" name="value" placeholder="Search for products, categories"
									required=""> 
									<button type="submit" class="rts-btn btn-primary radious-sm with-icon">
									<a class="btn-text">Search</a>
									<div class="arrow-icon">
										<i class="fa-light fa-magnifying-glass"></i>
									</div>
									<div class="arrow-icon">
										<i class="fa-light fa-magnifying-glass"></i>
									</div>
								</button>
							</form>
						</div>
						<div class="accont-wishlist-cart-area-header">							
							
							<div >
								<a  th:href="@{/login}" class="btn-border-only account">
								<i class="fa-light fa-user">  </i>Login
							</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="rts-header-nav-area-one header-two header--sticky">
		<div class="container-2">
			<div class="row">
				<div class="col-lg-12">
					<div class="nav-and-btn-wrapper">
						<div class="nav-area">
							<nav>
								<ul class="parent-nav">
									<li class="parent has-dropdown"><a class="nav-link"
										th:href="@{/home}">Home</a>
									</li>
									<li class="parent has-dropdown"><a class="nav-link"
										th:href="@{/home/vendor/list}">Vendors</a>
									</li>
									<li class="parent has-dropdown"><a class="nav-link"
										th:href="@{/home/product(value=${value})}">Product</a>
									</li>
									<li class="parent has-dropdown"><a class="nav-link"
										th:href="@{#}">Blog</a>
										<ul class="submenu">
											<li><a class="sub-b">Blog</a></li>
											<li><a class="sub-b">Blog List Right Sidebar</a></li>
											<li><a class="sub-b">Blog List Left Sidebar</a></li>
											<li><a class="sub-b">Blog Details</a></li>
										</ul></li>
									
								</ul>
							</nav>
						</div>
						<!-- button-area -->
						<div class="right-location-area">
							<i class="fa-solid fa-location-dot"></i>
							<p>
								Delivery: <a th:href="@{#}">258 FKD Street, Berlin</a>
							</p>
						</div>
						<!-- button-area end -->
					</div>
					<div class="logo-search-category-wrapper">
						<a th:href="@{index.html}" class="logo-area"> <img
							src="/view/images/logo/logo-01.svg" alt="logo-main" class="logo">
						</a>
						<div class="category-search-wrapper">
							<div class="category-btn category-hover-header">
								<img class="parent" src="/view/images/icons/bar-1.svg"
									alt="icons"> <span>Categories</span>
								<ul class="category-sub-menu">
									<li><a th:href="@{#}" class="menu-item"> <img
											src="/view/images/icons/01.svg" alt="icons"> <span>Breakfast
												&amp; Dairy</span> <i class="fa-regular fa-plus"></i>
									</a></li>
									<li><a th:href="@{#}" class="menu-item"> <img
											src="/view/images/icons/02.svg" alt="icons"> <span>Meats
												&amp; Seafood</span> <i class="fa-regular fa-plus"></i>
									</a></li>
									<li><a th:href="@{#}" class="menu-item"> <img
											src="/view/images/icons/03.svg" alt="icons"> <span>Breads
												&amp; Bakery</span>
									</a></li>
									<li><a th:href="@{#}" class="menu-item"> <img
											src="/view/images/icons/04.svg" alt="icons"> <span>Chips
												&amp; Snacks</span> <i class="fa-regular fa-plus"></i>
									</a></li>
									<li><a th:href="@{#}" class="menu-item"> <img
											src="/view/images/icons/05.svg" alt="icons"> <span>Medical
												Healthcare</span>
									</a></li>
									<li><a th:href="@{#}" class="menu-item"> <img
											src="/view/images/icons/06.svg" alt="icons"> <span>Breads
												&amp; Bakery</span>
									</a></li>
									<li><a th:href="@{#}" class="menu-item"> <img
											src="/view/images/icons/07.svg" alt="icons"> <span>Biscuits
												&amp; Snacks</span> <i class="fa-regular fa-plus"></i>
									</a></li>
									<li><a th:href="@{#}" class="menu-item"> <img
											src="/view/images/icons/08.svg" alt="icons"> <span>Frozen
												Foods</span>
									</a></li>
									<li><a th:href="@{#}" class="menu-item"> <img
											src="/view/images/icons/09.svg" alt="icons"> <span>Grocery
												&amp; Staples</span>
									</a></li>
									<li><a th:href="@{#}" class="menu-item"> <img
											src="/view/images/icons/10.svg" alt="icons"> <span>Other
												Items</span>
									</a></li>
								</ul>
							</div>
							<form action="#" class="search-header">
								<input type="text" placeholder="Search for products, categories"
									required=""> <a th:href="@{#}"
									class="rts-btn btn-primary radious-sm with-icon">
									<div class="btn-text">Search</div>
									<div class="arrow-icon">
										<i class="fa-light fa-magnifying-glass"></i>
									</div>
									<div class="arrow-icon">
										<i class="fa-light fa-magnifying-glass"></i>
									</div>
								</a>
							</form>
						</div>
						<div class="main-wrapper-action-2 d-flex">
							<div class="accont-wishlist-cart-area-header">
								<a href="@{account.html}" class="btn-border-only account">
									<i class="fa-light fa-user"></i> Account
								</a> <a href="@{wishlist.html}" class="btn-border-only wishlist">
									<i class="fa-regular fa-heart"></i> Wishlist
								</a>
								<div class="btn-border-only cart category-hover-header">
									<i class="fa-sharp fa-regular fa-cart-shopping"></i> <span
										class="text">My Cart</span>
									<div class="category-sub-menu card-number-show">
										<h5 class="shopping-cart-number">Shopping Cart (03)</h5>
										<div class="cart-item-1 border-top">
											<div class="img-name">
												<div class="thumbanil">
													<img src="/view/images/shop/cart-1.png" alt="">
												</div>
												<div class="details">
													<a>
														<h5 class="title">Foster Farms Breast Nuggets Shaped
															Chicken</h5>
													</a>
													<div class="number">
														1 <i class="fa-regular fa-x"></i> <span>$36.00</span>
													</div>
												</div>
											</div>
											<div class="close-c1">
												<i class="fa-regular fa-x"></i>
											</div>
										</div>
										<div class="cart-item-1">
											<div class="img-name">
												<div class="thumbanil">
													<img src="/view/images/shop/05.png" alt="">
												</div>
												<div class="details">
													<a>
														<h5 class="title">Foster Farms Breast Nuggets Shaped
															Chicken</h5>
													</a>
													<div class="number">
														1 <i class="fa-regular fa-x"></i> <span>$36.00</span>
													</div>
												</div>
											</div>
											<div class="close-c1">
												<i class="fa-regular fa-x"></i>
											</div>
										</div>
										<div class="cart-item-1">
											<div class="img-name">
												<div class="thumbanil">
													<img src="/view/images/shop/04.png" alt="">
												</div>
												<div class="details">
													<a>
														<h5 class="title">Foster Farms Breast Nuggets Shaped
															Chicken</h5>
													</a>
													<div class="number">
														1 <i class="fa-regular fa-x"></i> <span>$36.00</span>
													</div>
												</div>
											</div>
											<div class="close-c1">
												<i class="fa-regular fa-x"></i>
											</div>
										</div>
										<div class="sub-total-cart-balance">
											<div class="bottom-content-deals mt--10">
												<div class="top">
													<span>Sub Total:</span> <span class="number-c">$108.00</span>
												</div>
												<div class="single-progress-area-incard">
													<div class="progress">
														<div class="progress-bar wow fadeInLeft"
															role="progressbar" style="width: 80%" aria-valuenow="25"
															aria-valuemin="0" aria-valuemax="100"></div>
													</div>
												</div>
												<p>
													Spend More <span>$125.00</span> to reach <span>Free
														Shipping</span>
												</p>
											</div>
											<div
												class="button-wrapper d-flex align-items-center justify-content-between">
												<a class="rts-btn btn-primary ">View Cart</a> <a
													class="rts-btn btn-primary border-only">CheckOut</a>
											</div>
										</div>
									</div>
									<a class="over_link"></a>
								</div>	
														
								<a  class="btn-border-only account">
									<i class="fa-light fa-user"></i> Logout</a>
									

							</div>
							<div class="actions-area">
								<div class="search-btn" id="search">

									<svg width="17" height="16" viewBox="0 0 17 16" fill="none"
										xmlns="http://www.w3.org/2000/svg">
                                        <path
											d="M15.75 14.7188L11.5625 10.5312C12.4688 9.4375 12.9688 8.03125 12.9688 6.5C12.9688 2.9375 10.0312 0 6.46875 0C2.875 0 0 2.9375 0 6.5C0 10.0938 2.90625 13 6.46875 13C7.96875 13 9.375 12.5 10.5 11.5938L14.6875 15.7812C14.8438 15.9375 15.0312 16 15.25 16C15.4375 16 15.625 15.9375 15.75 15.7812C16.0625 15.5 16.0625 15.0312 15.75 14.7188ZM1.5 6.5C1.5 3.75 3.71875 1.5 6.5 1.5C9.25 1.5 11.5 3.75 11.5 6.5C11.5 9.28125 9.25 11.5 6.5 11.5C3.71875 11.5 1.5 9.28125 1.5 6.5Z"
											fill="#1F1F25"></path>
                                    </svg>

								</div>
								<div class="menu-btn" id="menu-btn">

									<svg width="20" height="16" viewBox="0 0 20 16" fill="none"
										xmlns="http://www.w3.org/2000/svg">
                                        <rect y="14" width="20"
											height="2" fill="#1F1F25"></rect>
                                        <rect y="7" width="20"
											height="2" fill="#1F1F25"></rect>
                                        <rect width="20" height="2"
											fill="#1F1F25"></rect>
                                    </svg>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</header>
<!-- header style two end -->
