<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="~{page/home.html}">
<div layout:fragment="content">
	<div class="rts-cart-area rts-section-gap bg_light-1">
		<div class="container-payment">
			<div class="row g-5">
				<div
					class="col-xl-12 col-lg-12 col-md-12 col-12 order-2 order-xl-1 order-lg-2 order-md-2 order-sm-2">
					<div class="cart-area-main-wrapper">
						<div class="cart-top-area-note">
							<p>
								Add <span>$59.69</span> to cart and get free shipping
							</p>
							<div class="bottom-content-deals mt--10">
								<div class="single-progress-area-incard">
									<div class="progress">
										<div class="progress-bar wow fadeInLeft" role="progressbar"
											style="width: 80%" aria-valuenow="25" aria-valuemin="0"
											aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="rts-cart-list-area">
						<div class="single-cart-area-list head">
							<div class="product-main">
								<P>Products</P>
							</div>
							<div class="price">
								<p>Price</p>
							</div>
							<div class="quantity">
								<p>Quantity</p>
							</div>
							<div class="subtotal">
								<p>SubTotal</p>
							</div>
							<div class="subtotal">
								<p>Chon</p>
							</div>
						</div>
						<form th:action="@{/user/cart/payment}" th:method="post" th:object="${productPayment}">
							<div th:each="item, i : ${cart.items}">
								<div class="single-cart-area-list main item-parent">
									<div class="product-main-cart">
										<div th:data-productId="${item.id}" class="close section-activation remove-cart">
											<i class="fa-regular fa-x"></i>
											<input type="hidden" th:value="${cart.id}" th:name="cartId" />
										</div>
										
										<input type="hidden"
												th:name="'selectedProduct[' + ${i.index} + '].productImage'" th:value="${item.product.image}" />
										<div class="thumbnail">
											<img th:src="@{'/user/home/product-detail/images/' + ${item.product.image}}" alt="shop">
										</div>
										<div class="information">
											<!-- Hidden inputs -->
											<input type="hidden"
												th:name="'selectedProduct[' + ${i.index} + '].productId'"
												th:value="${item.product.id}" />   

											<input type="hidden"
												th:name="'selectedProduct[' + ${i.index} + '].productName'" th:value="${item.product.name}" />
											<h6 class="title" th:text="${item.product.name}"></h6>
											<span th:text="${item.product.id}"></span>
										</div>
									</div>
									<div class="price">
										<input type="hidden" th:name="'selectedProduct[' + ${i.index} + '].productPrice'" th:value="${item.product.price}" />
										<p class="product-price" th:text="${item.product.price}"></p>
									</div>
									<div class="quantity">
										<div class="quantity-edit">
											<input type="text" class="input" value="1" th:name="'selectedProduct[' + ${i.index} + '].productQuantity'">
			                                    <div class="button-wrapper-action">
			                                        <button type="button" class="button minus">-<i class="fa-regular fa-chevron-down"></i></button>
            										<button type="button" class="button plus">+<i class="fa-regular fa-chevron-up"></i></button>
			                                    </div>										
			                             </div>
									</div>
									<div class="subtotal">
										<p class="subtotal-price" th:text="${item.product.price}"></p>
									</div>
									<div class="subtotal-1">
										<!-- Checkbox with product id as value -->
										<input type="hidden" th:name="'selectedProduct[' + ${i.index} + '].productSelected'" value="0" class="hiddenInput"/>
										<input type="checkbox" th:name="'selectedProduct[' + ${i.index} + '].productSelected'" value="1" class="checkboxInput" onchange="toggleHiddenInput(this)">
									</div>
								</div>
							</div>
							<div class="single-cart-area-list-button">
	                         	<button class="rts-btn btn-primary" type="submit">Pay</button>
	                         </div>     
						</form>    

					</div>
				</div>

			</div>
		</div>
	</div>
</div>