<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/Layout"
	layout:decorate="~{page/home.html}">

<body>
	<div layout:fragment="content">
		<div class="section-seperator bg_light-1">
			<div class="container">
				<hr class="section-seperator">
			</div>
		</div>
		<div class="rts-chop-details-area rts-section-gap bg_light-1">
			<div class="container">
				<div class="shopdetails-style-1-wrapper">
					<div class="row g-5">
						<div class="col-lg-9">
							<div class="product-details-popup-wrapper in-shopdetails">
								<div
									class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
									<div class="product-details-popup">
										<div class="details-product-area">

											<div class="show-product-area-details">
												<div class="product-thumb-area">
													<div class="cursor"></div>
													<div class="thumb-wrapper one filterd-items figure">
														<div class="product-thumb zoom" onmousemove="zoom(event)"
															th:style="'background-image: url(/user/home/product-detail/images/' + ${product.image} + ')'">
															<img
																th:src="@{'/user/home/product-detail/images/' + ${product.image}}"
																alt="product-thumb">
														</div>
													</div>
												</div>
											</div>
											<div class="contents">
												<div class="product-status">
													<div class="rating-stars-group">
														<div class="rating-star">
															<i class="fas fa-star"></i>
														</div>
														<div class="rating-star">
															<i class="fas fa-star"></i>
														</div>
														<div class="rating-star">
															<i class="fas fa-star"></i>
														</div>
														<div class="rating-star">
															<i class="fas fa-star"></i>
														</div>
														<div class="rating-star">
															<i class="fas fa-star"></i>
														</div>
														<span style="font-weight: bold; font-size: 20px"
															th:text="${reviewsCount} + ' Reviews'"></span>
													</div>
												</div>
												<h2 class="product-title" th:text="${product.name}"></h2>
												<p class="mt--20 mb--20" th:text="${product.description}">
												</p>
												<span class="product-price mb--15 d-block"
													style="color: #DC2626; font-weight: 600;"
													th:text="${product.price} + ' đ'"> $36.25<span
													class="old-price ml--15">$69.35</span></span>
												<div class="product-bottom-action">
													<form action="/user/add-item" method="POST">
														<input type="hidden" name="product.id"
															th:value="${product.id}">
														<!-- Product ID -->
														<input type="hidden" name="price"
															th:value="${product.price}"> <input type="hidden"
															name="quantity" value="1">
														<!-- Số lượng sản phẩm -->

														<button type="submit"
															class="rts-btn btn-primary radious-sm with-icon">
															<div class="btn-text">Add To Cart</div>
															<div class="arrow-icon">
																<i class="fa-regular fa-cart-shopping"></i>
															</div>
															<div class="arrow-icon">
																<i class="fa-regular fa-cart-shopping"></i>
															</div>
														</button>
													</form>
													<div
														class="single-action openuptip message-show-action add-wishlist rts-btn btn-primary ml--20"
														th:data-product-wishlist="${product.id}" data-flow="up"
														title="Add To Wishlist">
														<i class="fa-light fa-heart"></i>
													</div>
												</div>
												<div class="product-uniques">
													<span class="sku product-unipue mb--10"><span
														style="font-weight: 400; margin-right: 10px;"
														th:text="'ProID: '+${product.productId}">SKU: </span></span> <span
														class="catagorys product-unipue mb--10"><span
														style="font-weight: 400; margin-right: 10px;"
														th:text="'Category: '+${product.category.categoryName}"></span></span>
													<span class="tags product-unipue mb--10"><span
														style="font-weight: 400; margin-right: 10px;"
														th:text="'Sold: '+${product.sold}"></span></span>
													<!-- <span class="tags product-unipue mb--10"><span style="font-weight: 400; margin-right: 10px;">Type: </span> original</span> -->
												</div>
												<div class="share-option-shop-details">
													<div class="single-share-option">
														<div class="icon">
															<i class="fa-regular fa-heart"></i>
														</div>
														<span>Add To Wishlist</span>
													</div>
													<div class="single-share-option">
														<div class="icon">
															<i class="fa-solid fa-share"></i>
														</div>
														<span>Share On social</span>
													</div>
													<div class="single-share-option"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="product-discription-tab-shop mt--50">
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item" role="presentation">
										<button class="nav-link active" id="home-tab"
											data-bs-toggle="tab" data-bs-target="#home-tab-pane"
											type="button" role="tab" aria-controls="home-tab-pane"
											aria-selected="true">Product Details</button>
									</li>
									<li class="nav-item" role="presentation">
										<button class="nav-link" id="profile-tabt"
											data-bs-toggle="tab" data-bs-target="#profile-tab-panes"
											type="button" role="tab" aria-controls="profile-tab-panes"
											aria-selected="false"
											th:text="${'Customer Reviews ('+reviewsCount+')'}">Customer
											Reviews (01)</button>
									</li>
								</ul>
								<div class="tab-content" id="myTabContent">
									<div class="tab-pane fade   show active" id="home-tab-pane"
										role="tabpanel" aria-labelledby="home-tab" tabindex="0">
										<div class="single-tab-content-shop-details">
											<div class="details-row-2">
												<div class="left-area">
													<a th:href="@{/user/vendor/detail?(shopId=${shop.shopId})}">
														<img
														style="height: 300px !important; width: 100% !important;"
														th:src="@{'/user/home/product-detail/images/' + ${shop.avatar}}"
														alt="shop">
													</a>

												</div>
												<div class="right">
													<a th:href="@{/user/vendor/detail?(shopId=${shop.shopId})}">
														<h4 th:text="${shop.name}" class="title"></h4>
													</a>

													<p th:text="${shop.description}" class="mb--25"></p>
													<ul class="bottom-ul">
														<div class="location" style="display: flex;">
															<i style="margin-right: 15px;"
																class="fa-regular fa-location-dot"></i>
															<p th:text="${shop.address.detail}"></p>
														</div>
														<div class="location" style="display: flex;">
															<i style="margin-right: 15px;"
																class="fa-solid fa-phone-volume"></i>
															<p th:text="${shop.address.addressSdt}"></p>
														</div>
													</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane fade" id="profile-tab-panes"
										role="tabpanel" aria-labelledby="profile-tabt" tabindex="0">
										<div class="single-tab-content-shop-details">
											<div class="product-details-review-product-style">
												<div class="average-stars-area-left">
													<div class="top-stars-wrapper">

														<h3>Customer Reviews</h3>

														<!-- Menu lọc ngang -->
														<div class="rating-menu">
															<button class="rating-button"
																th:onclick="|filterByRating(5)|">5 ★</button>
															<button class="rating-button"
																th:onclick="|filterByRating(4)|">4 ★</button>
															<button class="rating-button"
																th:onclick="|filterByRating(3)|">3 ★</button>
															<button class="rating-button"
																th:onclick="|filterByRating(2)|">2 ★</button>
															<button class="rating-button"
																th:onclick="|filterByRating(1)|">1 ★</button>
														</div>

														<!-- Hiển thị các đánh giá -->
														<div id="reviewContainer" th:each="review : ${reviews}"
															class="card-body thymeleaf-review">
															<div class="card-body">
																<div
																	class="d-flex justify-content-between align-items-center">
																	<div class="d-flex align-items-center">
																		<!-- Star Rating -->
																		<div class="rating-stars">
																			<span th:each="star : ${#numbers.sequence(1, 5)}"
																				th:classappend="${star <= review.rating} ? 'text-warning' : 'text-muted'">&#9733;</span>
																		</div>
																	</div>
																	<span class="text-muted small"
																		th:text="${review.formattedDateString}"></span>
																</div>
																<p class="mt-2">
																	<strong th:text="${review.user.name}">Tên
																		người dùng</strong>
																</p>
																<p class="mt-2" th:text="${review.comment}"></p>
															</div>
														</div>

														<input type="hidden" id="productId"
															th:value="${product.id}">
														<!-- Ẩn ID sản phẩm -->

														<div class="submit-review-area">
															<form
																th:action="@{/user/home/product-detail/{id}/addReview(id=${product.id})}"
																method="post" th:object="${newReview}"
																class="submit-review-area">
																<h5 class="title">Submit Your Review</h5>
																<label for="rating">Rating:</label>

																<!-- Chọn sao bằng Bootstrap -->
																<div class="star-rating">
																	<input type="radio" id="star5" name="rating" value="5" />
																	<label for="star5" class="star">&#9733;</label> <input
																		type="radio" id="star4" name="rating" value="4" /> <label
																		for="star4" class="star">&#9733;</label> <input
																		type="radio" id="star3" name="rating" value="3" /> <label
																		for="star3" class="star">&#9733;</label> <input
																		type="radio" id="star2" name="rating" value="2" /> <label
																		for="star2" class="star">&#9733;</label> <input
																		type="radio" id="star1" name="rating" value="1" /> <label
																		for="star1" class="star">&#9733;</label>
																</div>

																<br>
																<textarea name="comment" id="comment"
																	placeholder="Write Your Review" required></textarea>
																<button class="rts-btn btn-primary">SUBMIT
																	REVIEW</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3  rts-sticky-column-item">
							<div class="theiaStickySidebar">
								<div class="shop-sight-sticky-sidevbar  mb--20">
									<h6 class="title">Available offers</h6>
									<div class="single-offer-area">
										<div class="icon">
											<img src="/view/images/shop/01.svg" alt="icon">
										</div>
										<div class="details">
											<p>Get %5 instant discount for the 1st Flipkart Order
												using Ekomart UPI T&C</p>
										</div>
									</div>
									<div class="single-offer-area">
										<div class="icon">
											<img src="/view/images/shop/02.svg" alt="icon">
										</div>
										<div class="details">
											<p>Flat $250 off on Citi-branded Credit Card EMI
												Transactions on orders of $30 and above T&C</p>
										</div>
									</div>
									<div class="single-offer-area">
										<div class="icon">
											<img src="/view/images/shop/03.svg" alt="icon">
										</div>
										<div class="details">
											<p>Free Worldwide Shipping on all orders over $100</p>
										</div>
									</div>
								</div>
								<div class="our-payment-method">
									<h5 class="title">Guaranteed Safe Checkout</h5>
									<img src="/view/images/shop/03.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- rts grocery feature area start -->
		<div class="rts-grocery-feature-area rts-section-gap bg_light-1">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="title-area-between">
							<h2 class="title-left">Related Product</h2>
							<div class="next-prev-swiper-wrapper">
								<div class="swiper-button-prev">
									<i class="fa-regular fa-chevron-left"></i>
								</div>
								<div class="swiper-button-next">
									<i class="fa-regular fa-chevron-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="category-area-main-wrapper-one">
							<div class="swiper mySwiper-category-1 swiper-data"
								data-swiper='{
                            "spaceBetween":16,
                            "slidesPerView":6,
                            "loop": true,
                            "speed": 700,
                            "navigation":{
                                "nextEl":".swiper-button-next",
                                "prevEl":".swiper-button-prev"
                            },
                            "breakpoints":{
                            "0":{
                                "slidesPerView":1,
                                "spaceBetween": 12},
                            "380":{
                                "slidesPerView":2,
                                "spaceBetween":12},
                            "480":{
                                "slidesPerView":2,
                                "spaceBetween":12},
                            "640":{
                                "slidesPerView":3,
                                "spaceBetween":16},
                            "840":{
                                "slidesPerView":4,
                                "spaceBetween":16},
                            "1540":{
                                "slidesPerView":6,
                                "spaceBetween":16}
                            }
                        }'>
								<div class="swiper-wrapper">
									<!-- single swiper start -->
									<div class="swiper-slide" th:each="product:${relatePro}">
										<div class="single-shopping-card-one">
											<!-- iamge and sction area start -->
											<div class="image-and-action-area-wrapper">
												<a th:href="@{/user/home/product-detail/{id}(id=${product.id})}" class="thumbnail-preview">
													<div class="badge">
														<i class="fa-solid fa-bookmark"></i>
													</div> <img
													th:src="@{'/user/home/product-detail/images/' + ${product.image}}"
													alt="grocery">
												</a>
												<div class="action-share-option">
													<div class="single-action openuptip message-show-action"
														data-flow="up" title="Add To Wishlist">
														<i class="fa-light fa-heart"></i>
													</div>
													<div class="single-action openuptip" data-flow="up"
														title="Compare" data-bs-toggle="modal"
														data-bs-target="#exampleModal">
														<i class="fa-solid fa-arrows-retweet"></i>
													</div>
													<div
														class="single-action openuptip cta-quickview product-details-popup-btn"
														data-flow="up" title="Quick View">
														<i class="fa-regular fa-eye"></i>
													</div>
												</div>
											</div>
											<!-- iamge and sction area start -->

											<div class="body-content">
												<a th:href="@{/user/home/product-detail/{id}(id=${product.id})}">
													<h4 class="title" th:text="${product.name}"></h4>
												</a> <span class="availability"
													th:text="${'Sold: '+product.sold}">500g Pack</span>
												<div class="price-area">
													<span class="current" th:text="${product.price}"></span>
												</div>
												<div class="cart-counter-action">

													<form action="/user/add-item" method="POST">
														<input type="hidden" name="product.id"
															th:value="${product.id}">
														<!-- Product ID -->
														<input type="hidden" name="price"
															th:value="${product.price}"> <input type="hidden"
															name="quantity" value="1">
														<!-- Số lượng sản phẩm -->

														<button type="submit"
															class="rts-btn btn-primary radious-sm with-icon">
															<div class="btn-text">Add To Cart</div>
															<div class="arrow-icon">
																<i class="fa-regular fa-cart-shopping"></i>
															</div>
															<div class="arrow-icon">
																<i class="fa-regular fa-cart-shopping"></i>
															</div>
														</button>
													</form>
												</div>
											</div>
										</div>
									</div>
									<!-- single swiper start -->
									<!-- single swiper start -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- rts grocery feature area end -->


			

			<!-- rts footer one area start -->
			
			<!-- rts footer one area end -->

			<!-- rts copyright-area start -->
			
			<!-- rts copyright-area end -->


			<div class="product-details-popup-wrapper">
				<div
					class="rts-product-details-section rts-product-details-section2 product-details-popup-section">
					<div class="product-details-popup">
						<button class="product-details-close-btn">
							<i class="fal fa-times"></i>
						</button>
						<div class="details-product-area">
							<div class="product-thumb-area">
								<div class="cursor"></div>
								<div class="thumb-wrapper one filterd-items figure">
									<div class="product-thumb zoom" onmousemove="zoom(event)"
										style="background-image: url(/view/images/products/product-details.jpg)">
										<img src="/view/images/products/product-details.jpg"
											alt="product-thumb">
									</div>
								</div>
								<div class="thumb-wrapper two filterd-items hide">
									<div class="product-thumb zoom" onmousemove="zoom(event)"
										style="background-image: url(/view/images/products/product-filt2.jpg)">
										<img src="/view/images/products/product-filt2.jpg"
											alt="product-thumb">
									</div>
								</div>
								<div class="thumb-wrapper three filterd-items hide">
									<div class="product-thumb zoom" onmousemove="zoom(event)"
										style="background-image: url(/view/images/products/product-filt3.jpg)">
										<img src="/view/images/products/product-filt3.jpg"
											alt="product-thumb">
									</div>
								</div>
								<div class="product-thumb-filter-group">
									<div class="thumb-filter filter-btn active" data-show=".one">
										<img src="/view/images/products/product-filt1.jpg"
											alt="product-thumb-filter">
									</div>
									<div class="thumb-filter filter-btn" data-show=".two">
										<img src="/view/images/products/product-filt2.jpg"
											alt="product-thumb-filter">
									</div>
									<div class="thumb-filter filter-btn" data-show=".three">
										<img src="/view/images/products/product-filt3.jpg"
											alt="product-thumb-filter">
									</div>
								</div>
							</div>
							<div class="contents">
								<div class="product-status">
									<span class="product-catagory">Dress</span>
									<div class="rating-stars-group">
										<div class="rating-star">
											<i class="fas fa-star"></i>
										</div>
										<div class="rating-star">
											<i class="fas fa-star"></i>
										</div>
										<div class="rating-star">
											<i class="fas fa-star-half-alt"></i>
										</div>
										<span>10 Reviews</span>
									</div>
								</div>
								<h2 class="product-title">
									Wide Cotton Tunic Dress <span class="stock">In Stock</span>
								</h2>
								<span class="product-price"><span class="old-price">$9.35</span>
									$7.25</span>
								<p>Priyoshop has brought to you the Hijab 3 Pieces Combo
									Pack PS23. It is a completely modern design and you feel
									comfortable to put on this hijab. Buy it at the best price.</p>
								<div class="product-bottom-action">
									<div class="cart-edit">
										<div class="quantity-edit action-item">
											<button class="button">
												<i class="fal fa-minus minus"></i>
											</button>
											<input type="text" class="input" value="01" />
											<button class="button plus">
												+<i class="fal fa-plus plus"></i>
											</button>
										</div>
									</div>
									<a href="#" class="rts-btn btn-primary radious-sm with-icon">
										<div class="btn-text">Add To Cart</div>
										<div class="arrow-icon">
											<i class="fa-regular fa-cart-shopping"></i>
										</div>
										<div class="arrow-icon">
											<i class="fa-regular fa-cart-shopping"></i>
										</div>
									</a> <a href="javascript:void(0);"
										class="rts-btn btn-primary ml--20"><i
										class="fa-light fa-heart"></i></a>
								</div>
								<div class="product-uniques">
									<span class="sku product-unipue"><span>SKU: </span>
										BO1D0MX8SJ</span> <span class="catagorys product-unipue"><span>Categories:
									</span> T-Shirts, Tops, Mens</span> <span class="tags product-unipue"><span>Tags:
									</span> fashion, t-shirts, Men</span>
								</div>
								<div class="share-social">
									<span>Share:</span> <a class="platform"
										href="http://facebook.com/" target="_blank"><i
										class="fab fa-facebook-f"></i></a> <a class="platform"
										href="http://twitter.com/" target="_blank"><i
										class="fab fa-twitter"></i></a> <a class="platform"
										href="http://behance.com/" target="_blank"><i
										class="fab fa-behance"></i></a> <a class="platform"
										href="http://youtube.com/" target="_blank"><i
										class="fab fa-youtube"></i></a> <a class="platform"
										href="http://linkedin.com/" target="_blank"><i
										class="fab fa-linkedin"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- successfully add in wishlist -->
			<div class="successfully-addedin-wishlist">
				<div class="d-flex" style="align-items: center; gap: 15px;">
					<i class="fa-regular fa-check"></i>
					<p>Your item has already added in wishlist successfully</p>
				</div>
			</div>
			<!-- successfully add in wishlist end -->



			<!-- Modal -->
			<div class="modal modal-compare-area-start fade" id="exampleModal"
				tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Products
								Compare</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="compare-main-wrapper-body">
								<div class="single-compare-elements name">Preview</div>
								<div class="single-compare-elements">
									<div class="thumbnail-preview">
										<img src="/view/images/grocery/01.jpg" alt="grocery">
									</div>
								</div>
								<div class="single-compare-elements">
									<div class="thumbnail-preview">
										<img src="/view/images/grocery/02.jpg" alt="grocery">
									</div>
								</div>
								<div class="single-compare-elements">
									<div class="thumbnail-preview">
										<img src="/view/images/grocery/03.jpg" alt="grocery">
									</div>
								</div>
							</div>
							<div class="compare-main-wrapper-body productname spacifiq">
								<div class="single-compare-elements name">Name</div>
								<div class="single-compare-elements">
									<p>J.Crew Mercantile Women's Short</p>
								</div>
								<div class="single-compare-elements">
									<p>Amazon Essentials Women's Tanks</p>
								</div>
								<div class="single-compare-elements">
									<p>Amazon Brand - Daily Ritual Wom</p>
								</div>
							</div>
							<div class="compare-main-wrapper-body productname">
								<div class="single-compare-elements name">Price</div>
								<div class="single-compare-elements price">
									<p>$25.00</p>
								</div>
								<div class="single-compare-elements price">
									<p>$39.25</p>
								</div>
								<div class="single-compare-elements price">
									<p>$12.00</p>
								</div>
							</div>
							<div class="compare-main-wrapper-body productname">
								<div class="single-compare-elements name">Description</div>
								<div class="single-compare-elements discription">
									<p>Lorem Ipsum is simply dummy text of the printing and
										typesetting industry. Lorem Ipsum has been the industry's
										standard</p>
								</div>
								<div class="single-compare-elements discription">
									<p>Lorem Ipsum is simply dummy text of the printing and
										typesetting industry. Lorem Ipsum has been the industry's
										standard</p>
								</div>
								<div class="single-compare-elements discription">
									<p>Lorem Ipsum is simply dummy text of the printing and
										typesetting industry. Lorem Ipsum has been the industry's
										standard</p>
								</div>
							</div>
							<div class="compare-main-wrapper-body productname">
								<div class="single-compare-elements name">Rating</div>
								<div class="single-compare-elements">
									<div class="rating">
										<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i> <span>(25)</span>
									</div>
								</div>
								<div class="single-compare-elements">
									<div class="rating">
										<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i> <span>(19)</span>
									</div>
								</div>
								<div class="single-compare-elements">
									<div class="rating">
										<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
										<i class="fa-solid fa-star"></i> <span>(120)</span>
									</div>
								</div>
							</div>
							<div class="compare-main-wrapper-body productname">
								<div class="single-compare-elements name">Weight</div>
								<div class="single-compare-elements">
									<div class="rating">
										<p>320 gram</p>
									</div>
								</div>
								<div class="single-compare-elements">
									<p>370 gram</p>
								</div>
								<div class="single-compare-elements">
									<p>380 gram</p>
								</div>
							</div>
							<div class="compare-main-wrapper-body productname">
								<div class="single-compare-elements name">Stock status</div>
								<div class="single-compare-elements">
									<div class="instocks">
										<span>In Stock</span>
									</div>
								</div>
								<div class="single-compare-elements">
									<div class="outstocks">
										<span class="out-stock">Out Of Stock</span>
									</div>
								</div>
								<div class="single-compare-elements">
									<div class="instocks">
										<span>In Stock</span>
									</div>
								</div>
							</div>
							<div class="compare-main-wrapper-body productname">
								<div class="single-compare-elements name">Buy Now</div>
								<div class="single-compare-elements">
									<div class="cart-counter-action">
										<a href="#" class="rts-btn btn-primary radious-sm with-icon">
											<div class="btn-text">Add To Cart</div>
											<div class="arrow-icon">
												<i class="fa-regular fa-cart-shopping"></i>
											</div>
											<div class="arrow-icon">
												<i class="fa-regular fa-cart-shopping"></i>
											</div>
										</a>
									</div>
								</div>
								<div class="single-compare-elements">
									<div class="cart-counter-action">
										<a href="#" class="rts-btn btn-primary radious-sm with-icon">
											<div class="btn-text">Add To Cart</div>
											<div class="arrow-icon">
												<i class="fa-regular fa-cart-shopping"></i>
											</div>
											<div class="arrow-icon">
												<i class="fa-regular fa-cart-shopping"></i>
											</div>
										</a>
									</div>
								</div>
								<div class="single-compare-elements">
									<div class="cart-counter-action">
										<a href="#" class="rts-btn btn-primary radious-sm with-icon">
											<div class="btn-text">Add To Cart</div>
											<div class="arrow-icon">
												<i class="fa-regular fa-cart-shopping"></i>
											</div>
											<div class="arrow-icon">
												<i class="fa-regular fa-cart-shopping"></i>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



	




			<div class="search-input-area">
				<div class="container">
					<div class="search-input-inner">
						<div class="input-div">
							<input id="searchInput1" class="search-input" type="text"
								placeholder="Search by keyword or #">
							<button>
								<i class="far fa-search"></i>
							</button>
						</div>
					</div>
				</div>
				<div id="close" class="search-close-icon">
					<i class="far fa-times"></i>
				</div>
			</div>
			<div id="anywhere-home" class="anywere"></div>
			<!-- progress area start -->
			<div class="progress-wrap">
				<svg class="progress-circle svg-content" width="100%" height="100%"
					viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
						style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
			</div>
			<!-- progress area end -->


			<!-- plugins js -->
			<script defer src="/view/js/plugins.js"></script>

			<!-- custom js -->
			<script defer src="/view/js/main.js"></script>
			<!-- header style two End -->

		</div>
	</div>
</body>


<!-- Mirrored from html.themewant.com/ekomart/shop-details-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 01 Nov 2024 06:32:40 GMT -->
</html>