<div class="sidebar_left" th:fragment="sidebar">
            <a href="index.html" class="logo">
                <img src="/admin/images/logo/logo.svg" alt="logo" height="32" width="131">
            </a>


            <!-- nav area start -->
            <ul class="rts-side-nav-area-left menu-active-parent">
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/01.svg" alt="icon" class="icon">
                        <p>Dashboard</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" href="index.html">Mian Demo</a></li>
                        <li><a class="mobile-menu-link" href="#">Coming Soon</a></li>
                    </ul>
                </li>
                   <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/04.svg" alt="icon" class="icon">
                        <p>Category</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" th:href="@{http://localhost:5000/admin/categories}">List</a></li>
                        <li><a class="mobile-menu-link" href="#">Edit</a></li>
                    </ul>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/09.svg" alt="icon" class="icon">
                        <p>Order</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" href="order.html">Order</a></li>
                        <li><a class="mobile-menu-link" href="order-details.html">Order Details</a></li>
                    </ul>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/02.svg" alt="icon" class="icon">
                        <p>Product</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" href="product-list.html">product List</a></li>
                    </ul>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/02.svg" alt="icon" class="icon">
                        <p>Layouts</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link rts-customizer__btn--ltr" href="#">LTR Layour</a></li>
                        <li><a class="mobile-menu-link rts-customizer__btn--rtl" href="#">RTL Layout</a></li>
                    </ul>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/03.svg" alt="icon" class="icon">
                        <p>Add Product</p>
                    </a>
                    <ul class="submenu mm-collapse">
                        <li><a class="mobile-menu-link" href="add-product.html">Add Product</a></li>
                    </ul>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/04.svg" alt="icon" class="icon">
                        <p>Vendor</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" href="vendor-grid.html">Vendor Grid</a></li>
                        <li><a class="mobile-menu-link" href="vendor-list.html">Vendor List</a></li>
                        <li><a class="mobile-menu-link" href="vendor-details.html">Vendor Details</a></li>
                    </ul>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="transaction.html">
                        <img src="/admin/images/icons/06.svg" alt="icon" class="icon">
                        <p>Transactions</p>
                    </a>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="review.html">
                        <img src="/admin/images/icons/07.svg" alt="icon" class="icon">
                        <p>Reviews</p>
                    </a>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="brand.html">
                        <img src="/admin/images/icons/16.svg" alt="icon" class="icon">
                        <p>Brand</p>
                    </a>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/05.svg" alt="icon" class="icon">
                        <p>User Profile</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" href="profile-setting.html">Profile Setting</a></li>
                        <li><a class="mobile-menu-link" href="log-in.html">Log In</a></li>
                        <li><a class="mobile-menu-link" href="registration.html">Registration</a></li>
                    </ul>
                </li>
                <!-- signle menu item -->
            </ul>
            <!-- nav area end -->
        </div>
        <!-- rts header area end -->