<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="sidebar_left" th:fragment="sidebar">
            <a href="index.html" class="logo">
                <img src="/admin/images/logo/logo.svg" alt="logo" height="32" width="131">
            </a>


            <!-- nav area start -->
            <ul class="rts-side-nav-area-left menu-active-parent">
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#">
                        <img src="/admin/images/icons/01.svg" alt="icon" class="icon">
                        <p>Dashboard</p>
                    </a>
                <li class="single-menu-item">
                    <a href="/admin/user-list">
                        <img src="/admin/images/icons/05.svg" alt="icon" class="icon">
                        <p>User Manage</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" th:href="@{/admin/user-list}">User List</a></li>
                    </ul>
                </li>
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/04.svg" alt="icon" class="icon">
                        <p>Category</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" th:href="@{http://localhost:8888/admin/categories}">List</a></li>
                    </ul>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/02.svg" alt="icon" class="icon">
                        <p>Product</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" th:href="@{/admin/vendor/product}">product List</a></li>
                    </ul>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" th:href="@{/admin/vendor/product/waiting}">product List Waiting</a></li>
                    </ul>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <!-- signle menu item -->
                <!-- single menu item -->
 
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/04.svg" alt="icon" class="icon">
                        <p>Vendor</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                        <li><a class="mobile-menu-link" th:href="@{/admin/vendor/list}">Vendor List </a></li>
                        <li><a class="mobile-menu-link" th:href="@{/admin/vendor/list/waiting}">Vendor List Waiting</a></li>
                        
                    </ul>
                </li>
                <!-- signle menu item -->
                <!-- single menu item -->
                <!-- signle menu item -->
                <!-- single menu item -->	
                <!-- signle menu item -->
                <!-- single menu item -->
                <li class="single-menu-item">
                    <a href="#" class="with-plus">
                        <img src="/admin/images/icons/05.svg" alt="icon" class="icon">
                        <p>User Profile</p>
                    </a>
                    <ul class="submenu mm-collapse parent-nav">
                       
                        <li><a class="mobile-menu-link" href="log-in.html">Log Out</a></li>
                       
                    </ul>
                </li>
                <!-- signle menu item -->
            </ul>
            <!-- nav area end -->
        </div>
        <!-- rts header area end -->